<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>FEEDBACK APP</h1>
  <h2> Please Sign Up to use the feedback form: </h2>
    <div class="">
    <form class="" action="/signup" method="post">
      Name: <input type="text" name="name" value="">
      E-mail: <input type="text" name="email" value="">
      Password: <input type="text" name="password" value="">
      <input type="submit" name="" value="submit">
    </form>
    </div>

  </body>
</html>
