<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Technical Coach Feedback App
    <br>
    <a href="/login">[LOG IN]</a>
    <a href="/signup">[SIGN UP]</a>
  </body>
</html>
